
.offre-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 18px;
    background: #fff;
    height: 220px; /* hauteur fixe/modifiable */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* boutons en bas */
}

.offre-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.offre-entreprise{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #444;
}

.offre-desc {
    font-size: .9rem;
    flex-grow: 1; /* prend l'espace restant */
    color: #555;
    margin-bottom: 12px;
    width: 100%;
}

.offre-actions .btn {
    border-radius: 8px;
    padding: 6px 14px;
}
